/*estilos css*/

body {
	margin: 0;
	padding: 0;
}

.stage1,
.stage2,
.stage3,
.stage4,
.stage5 {
	display: none;
}

body.body-stage1 .stage1{ display: block; }
body.body-stage2 .stage2{ display: block; }
body.body-stage3 .stage3{ display: block; }
body.body-stage4 .stage4{ display: block; }
body.body-stage5 .stage5{ display: block; }

.lanzamiento {
	width: 50%;
	height: 100%;
	background-color: #647C93;
	position: fixed;
	left: 0px;
}

.lanzamiento .titulo {
	width: 50%;
	height: auto;
	left: 50px;
	position: absolute;
	color: #FFC82E;
	font-family: 'helvetica', sans-serif;
	font-weight: bolder;
}

.lanzamiento .boton {
	position: absolute;
	left: 50px;
	top: 200px;
	font-size: 48px;
	text-decoration: none;
	color: white;
	font-family: 'helvetica', sans-serif;
}

.lanzamiento .boton:hover {
	color: #FF1928;
	transition: color 0.5s;
}

.espacio {
	width: 50%;
	height: 100%;
	background-color: #D0EBF4;
	position: fixed;
	right: 0px; 
}

.espacio .cielo {
	width: 100%;
	height: 768px;
	position: absolute;
	top: 0px;
	background: url("../img/cielo-degradado.png") repeat-x;
}

.espacio .cohete {
	width: 198px;
	height: 359px;
	background: url("../img/cohete.png") no-repeat;
	bottom: 20px;
	position: absolute;
	left: 50%;
	transition: bottom 10000ms;
	z-index: 100;
	margin-left: -99px;
}

body.body-stage1 .cohete,
body.body-stage5 .cohete {
	transition: none;
}

body.body-stage3 .cohete,
body.body-stage4 .cohete {
	background: url("../img/cohete-estado3.gif") no-repeat;
	bottom: 1000px;
	height: 388px;
}

.espacio .montanhas {
	position: absolute;
	bottom: 20px;
	width: 100%;
	height: 158px;
	background: url("../img/montanhas.png") repeat-x;
	z-index: 0;
}

.espacio .arbustos {
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 20px;
	z-index: 1;
	background: url("../img/arbustos.png") repeat-x;
}

.espacio .suelo {
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 0px;
	background:url("../img/suelo.png") repeat-x;
}


