/*estilos css*/

body {
	margin: 0;
	padding: 0;
}

.stage1,
.stage2,
.stage3,
.stage4,
.stage5 {
	display: none;
}

body.body-stage1 .stage1{ display: block; }
body.body-stage2 .stage2{ display: block; }
body.body-stage3 .stage3{ display: block; }
body.body-stage4 .stage4{ display: block; }
body.body-stage5 .stage5{ display: block; }

.lanzamiento {
	width: 50%;
	height: 100%;
	background-color: #1A1A1A;
	background-image: url("../img/background.png");
	position: fixed;
	left: 0px;
}

.lanzamiento .box1 {
	position: absolute;
	color: #FFC82E;
	font-family: 'helvetica', sans-serif;
	font-weight: bolder;
	left: 10%;
	top: 5%;
	font-size: 200%;
}

.lanzamiento .boton {
	position: absolute;	
	width: 224px;
	height: 224px;
	top:30%;
	left:10%;
	background: url("../img/launch-1.png") no-repeat 0 0;
	box-shadow: 0px 10px 10px #000; /*posicionX posicionY difuminado color*/
}

.lanzamiento .boton:hover {
	background: url("../img/launch-2.png") no-repeat 0 0;
}

.lanzamiento .boxcountdown {
	position: absolute;	
	width: 224px;
	height: 224px;
	top:30%;
	left:10%;
	background-color: #000;
	border-radius: 20px;
}

.lanzamiento .boxcountdown .countdown {
	color: red;
	font-size: 200px;
	position: relative;
	text-align: center;
	line-height: 0px;
	bottom: 20px;
	font-family: 'helvetica', sans-serif;
}

.lanzamiento .cancel {
	position: absolute;	
	width: 224px;
	height: 224px;
	top:30%;
	left:40%;
	background: url("../img/abort-1.png") no-repeat 0 0;
	box-shadow: 0px 10px 10px #000; /*posicionX posicionY difuminado color*/
}

.lanzamiento .cancel:hover {
	background: url("../img/abort-2.png") no-repeat 0 0;
}

.lanzamiento .lanzado {
	position: absolute;	
	width: 500px;
	height: 224px;
	top:30%;
	left:10%;
	background-color: #000;
	border-radius: 20px;
}

.lanzamiento .lanzado .good {
	font-size: 95px;
	color: red;
	font-family: 'helvetica', sans-serif;
	text-align: center;
}

.lanzamiento .lanzado .good-2 {
	margin-top: 70px;
	font-size: 80px;
	color: #00FF00;
	font-family: 'helvetica', sans-serif;
	text-align: center;
}

.lanzamiento .lanzado .wrong{
	margin-top: 70px;
	font-size: 80px;
	color: red;
	font-family: 'helvetica', sans-serif;
	text-align: center;
}

.lanzamiento .doitagain {
	width: 200px;
	height: 120px;
	background-color: #2C75C4;
	top: 60%;
    left: 10%;
	position: absolute;
	text-align: center;
	text-decoration: none;
	font-family: 'helvetica', sans-serif;
	color: white;
	border-radius: 10px;
	padding-top: 82px;
	font-size: 28px;
	box-shadow: 0px 7px 10px #0C1933;
}

.lanzamiento .doitagain:hover {
	background-color: #1B568C;
}

.lanzamiento .tryagain {
	width: 200px;
	height: 120px;
	background-color: #E5281A;
	top: 60%;
    left: 10%;
	position: absolute;
	text-align: center;
	text-decoration: none;
	font-family: 'helvetica', sans-serif;
	color: white;
	border-radius: 10px;
	padding-top: 72px;
	font-size: 28px;
	box-shadow: 0px 7px 10px #330805;
}

.lanzamiento .tryagain:hover {
	background-color: #AD1C12;
}

.espacio {
	width: 50%;
	height: 100%;
	background-color: #D0EBF4;
	position: fixed;
	right: 0px; 
}

.espacio .cielo {
	width: 100%;
	height: 768px;
	position: absolute;
	top: 0px;
	background: url("../img/cielo-degradado.png") repeat-x;
}

.espacio .cohete {
	width: 198px;
	height: 359px;
	background: url("../img/cohete.png") no-repeat;
	bottom: 20px;
	position: absolute;
	left: 50%;
	transition: bottom 10000ms;
	z-index: 100;
	margin-left: -99px;
}

body.body-stage1 .cohete,
body.body-stage5 .cohete {
	transition: none;
}

body.body-stage2 .cohete {
	background: url("../img/ignition.gif") no-repeat 0 0;
	height: 379px;
	bottom: 0px;
	transition: none;
}

body.body-stage3 .cohete,
body.body-stage4 .cohete {
	background: url("../img/cohete-estado3.gif") no-repeat;
	bottom: 3000px;
	height: 388px;
}
body.body-stage5 .cohete {
	background: url("../img/explosion.gif") no-repeat;
	width: 263px;
	height: 192px;
	bottom: auto;
}

.espacio .montanhas {
	position: absolute;
	bottom: 20px;
	width: 100%;
	height: 158px;
	background: url("../img/montanhas.png") repeat-x;
	z-index: 0;
}

.espacio .arbustos {
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 20px;
	z-index: 1;
	background: url("../img/arbustos.png") repeat-x;
}

.espacio .suelo {
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 0px;
	background:url("../img/suelo.png") repeat-x;
}

.nervioso {
	background: url("../img/nervioso.png") no-repeat 0 0;
	width: 200px;
	height: 160px;
	position: absolute;
	bottom: 280px;
	left: 50%;
	margin-left: -250px;
	display: none;
}

.nervioso.mostrar {
	display: block;
}

.almost {
	background: url("../img/thisisit.png") no-repeat 0 0;
	width: 200px;
	height: 160px;
	position: absolute;
	bottom: 280px;
	left: 50%;
	margin-left: 50px;
	display: none;
}

.almost.mostrar {
	display: block;
}
